.Header {
    width: 100%;
    background-color: #1481a1;
    margin: 0;
    
    text-align: right;
    vertical-align: center;
    
}

.Header nav {
    height: 100%;
    margin: 0;
    padding: 10px 0;
    vertical-align: center;
    margin-right: 50px;
}

.Link {
    color: #ffffff;
    text-decoration: none;
}

.Button {
    color: #ffffff;
    margin-left: 15px;
    padding: 5px;
    display: inline-block;
    height: 100%;
    cursor: pointer;
}

.Count {
    padding: 1px 8px;
    border: 1px solid #69d4f5;
    background-color: #045e5e;
    color: #87fa6a;
    margin-left: 4px;

}

.Header div {
    display: inline-block;
    
}

.Header a:hover,
.Button:hover {
    color: #87fa6a;
}

